apiVersion: apps/v1
kind: Deployment
metadata:
  name: ad-realestate-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ad-realestate
  template:
    metadata:
      labels:
        app: ad-realestate
    spec:
      containers:
        - image: meshetr/ad-realestate:v0.3
          name: ad-realestate
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: database
                  key: host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: database
                  key: user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: database
                  key: password
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: database
                  key: port
            - name: DB_SSL
              valueFrom:
                secretKeyRef:
                  name: database
                  key: ssl
            - name: DB_TIMEZONE
              valueFrom:
                secretKeyRef:
                  name: database
                  key: timezone
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: database
                  key: name

---

apiVersion: v1
kind: Service
metadata:
  name: ad-realestate-service
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: ad-realestate